* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 25px;
}

#page-container {
  padding: 25px;
  max-width: 400px;
}

p {
  font-size: 14px;
  line-height: 1.5em;
  border-left: 2px solid #EEE;
  padding: 1em 10px;
}

a, strong {
  font-weight: 700;
}

#face {
  font-family: sans-serif;
}

em {
  font-style: italic;
  font-size: 10px;
}
